<div class="sub-menu-container fixed-type">
    {{#link-to 'admin.newa.myCustomers'}}
        <span class="sub-menu-item">my-customers</span>
    {{/link-to}}<br>
    {{#link-to 'admin.newa.customers'}}
        <span class="sub-menu-item">customers</span>
    {{/link-to}}<br>
    {{#link-to 'admin.newa.operators'}}
        <span class="sub-menu-item">operators</span>
    {{/link-to}}
</div>
Title: {{title}} {{outlet}}