<div>
    {{#link-to 'admin.newa.myCustomers'}}
        <span>my-customers</span>
    {{/link-to}}<br>
    {{#link-to 'admin.newa.customers'}}
        <span>customers</span>
    {{/link-to}}<br>
    {{#link-to 'admin.newa.operators'}}
        <span>operators</span>
    {{/link-to}}
</div>
Title: {{title}} {{liquid-outlet}}